appdirs
audioread
autopep8
certifi
cffi
charset-normalizer
contourpy
cycler
decorator
fonttools
idna
imageio
joblib
kiwisolver
lazy_loader
librosa
llvmlite
matplotlib
msgpack
networkx
numba
numpy
opencv-python
packaging
pandas
Pillow
pip
pooch
pycodestyle
pycparser
pyparsing
PyQt5
PyQt5-sip
python-dateutil
python-vlc
pytz
PyWavelets
requests
scikit-image
scikit-learn
scipy
setuptools
six
soundfile
soxr
threadpoolctl
tifffile
tomli
typing_extensions
tzdata
urllib3
